In [45]:
from census import Census
import pandas as pd

In [72]:
from census import Census

c = Census("d6b7d7dccd9cd03190add3a0d913c5f2b467419e")
data = c.acs5.zipcode(['B25008_001E','B01002_001E','B25119_001E', 'B25008_002E'], Census.ALL) #median household income

In [74]:
zipcode = []
population = []
medianage = []
medianincome = []
pplinownerocc = []
for code in data:
    zipcode.append(code['zip code tabulation area'])
    population.append(code['B25008_001E'])
    medianage.append(code['B01002_001E'])
    medianincome.append(code['B25119_001E'])
    pplinownerocc.append(code['B25008_002E'])
df = pd.DataFrame()
df['zipcode'] = zipcode
df['population'] = population
df['medianage'] = medianage
df['medianincome'] = medianincome
df['pplinownerocc'] = pplinownerocc

In [80]:
df['pctownocc'] = round(df.pplinownerocc/df.population, 2)

In [82]:
df.dropna(inplace = True)
df.to_csv('scraped_from_census.csv',index = False, header = True)

In [84]:
df.head()

  zipcode  population  medianage  medianincome  pplinownerocc  pctownocc
0   00601     17912.0       37.6       10816.0        10067.0       0.56
1   00602     40145.0       39.5       16079.0        31505.0       0.78
2   00603     50546.0       39.9       16804.0        31134.0       0.62
3   00606      6307.0       40.8       12512.0         4492.0       0.71
4   00610     28210.0       40.2       17475.0        21524.0       0.76